.not-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  padding: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
